<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>963875283913-bht5s15jcnrg1c2n18c4acvfrhrk62bj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.963875283913-bht5s15jcnrg1c2n18c4acvfrhrk62bj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>963875283913-v0osei2sjqfduf9i5cgci5hnhupecm8l.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDo-7dsRotTpRyy1Wth8_rZM68gRqbM7N8</string>
	<key>GCM_SENDER_ID</key>
	<string>963875283913</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.singleChatPractice</string>
	<key>PROJECT_ID</key>
	<string>stream-chat-149e5</string>
	<key>STORAGE_BUCKET</key>
	<string>stream-chat-149e5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:963875283913:ios:09358f80fb712c2db3be18</string>
</dict>
</plist>